.side-bar
 .side-header
  %h3.side-box.header-name
   ユーザーネーム
   %ul.header-lists
    %li.list
     = link_to do
      = icon("fas", "cog", class: "icon")
   %ul.header-lists
    %li.list
     = link_to do
      = icon("fas", "edit", class: "icon")
 .groups
  .group
   .group-name
    グループ名
   .group-message
    新着メッセージ
  .group
   .group-name
    グループ名
   .group-message
    新着メッセージ
  .group
   .group-name
    グループ名
   .group-message
    新着メッセージ