.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  float: left;
}



.side-header {
  background-color: #253141;
  height: 100px;
}

.groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
}